---
import "../../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Doomsday Tester - Stats</title>
	</head>
	<body class="bg-slate-600">
		<main
			class="flex flex-col justify-between items-center font-mono bg-slate-600 text-slate-300 py-4 h-[100vh] max-h-full"
		>
			<h1 id="message" class="text-4xl">Importing...</h1>
			<button
				class="bg-red-800 p-4 hidden cursor-pointer hover:bg-red-700"
				id="overwrite">Ovewrite Stats</button
			>
		</main>
	</body>

	<script>
		const message = document.getElementById("message");
		const overwrite = document.getElementById("overwrite");
		function writeStats() {
			const b64data = new URLSearchParams(
				window.location.search
			).get("data");

			if (!b64data) {
				message.innerText = "No valid data";
				return;
			}

			const jsondata = atob(b64data);

			if (!jsondata) {
				message.innerText = "No valid data";
				return;
			}

			const data = JSON.parse(jsondata);

			if (
				data.wins == undefined ||
				data.losses == undefined ||
				data.times == undefined
			) {
				message.innerText = "Invalid data";
				return;
			}

			window.localStorage.setItem("stats", jsondata);
			window.location.replace("/stats");
		}
		const storedData = window.localStorage.getItem("stats");

		if (!storedData) {
			writeStats();
		}

		const stored = JSON.parse(storedData);

		if (stored.wins > 0 || stored.losses > 0) {
			message.innerText =
				"Do you wish to overwrite your stats?";
			overwrite.classList.remove("hidden");

			overwrite?.addEventListener("click", () => {
				writeStats();
			});
		} else {
			writeStats();
		}
	</script>
</html>
