---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Doomsday Test - Settings</title>
	</head>
	<body class="bg-slate-950">
		<main
			class="flex flex-col justify-between items-center font-mono bg-slate-950 text-slate-300 py-2 h-[100vh] max-h-full"
		>
			<h1 class="text-3xl text-center my-2" id="heading">
				Settings
			</h1>

			<section
				class="bg-slate-600 flex flex-col space-y-2 p-2 md:p-4 w-72 md:w-80 rounded-md"
			>
				<label for="min-century">Minimum Century:</label
				>
				<select
					class="p-2 cursor-pointer rounded-md bg-slate-950 hover:bg-slate-800"
					name="min-century"
					id="min-century"
				>
					<option value="1400">1400</option>
					<option value="1500">1500</option>
					<option value="1600">1600</option>
					<option value="1700">1700</option>
					<option value="1800">1800</option>
					<option value="1900">1900</option>
				</select>
			</section>
			<section
				class="bg-slate-600 flex flex-col space-y-2 p-2 md:p-4 w-72 md:w-80 rounded-md"
			>
				<label for="max-century">Maximum Century:</label
				>
				<select
					class="p-2 cursor-pointer rounded-md bg-slate-950 hover:bg-slate-800"
					name="max-century"
					id="max-century"
				>
					<option value="2000">2000</option>
					<option value="2100">2100</option>
					<option value="2200">2200</option>
					<option value="2300">2300</option>
					<option value="2400">2400</option>
				</select>
			</section>
			<section
				class="bg-slate-600 flex justify-between p-2 md:p-4 w-72 md:w-80 rounded-md"
			>
				<label for="allow-stats">Save stats:</label>
				<input
					class="cursor-pointer"
					type="checkbox"
					name="allow-stats"
					id="allow-stats"
				/>
			</section>

			<section
				class="flex flex-col w-72 md:w-80 space-y-4"
			>
				<button
					class="p-2 cursor-pointer bg-green-800 hover:bg-green-700 rounded-md"
					id="save">Save Settings</button
				>
				<button
					class="p-2 cursor-pointer bg-red-800 hover:bg-red-700 rounded-md"
					id="cancel">Cancel</button
				>
			</section>
		</main>

		<script>
			import { getSettings } from "../lib/settings";

			const settings = getSettings();

			const min = document.getElementById("min-century");
			const max = document.getElementById("max-century");
			const stats = document.getElementById("allow-stats");
			min.value = settings.minCentury;
			max.value = settings.maxCentury;
			stats.checked = settings.allowStats;

			const save = document.getElementById("save");
			const cancel = document.getElementById("cancel");

			save.addEventListener("click", () => {
				const newSettings = {
					minCentury: parseInt(min.value),
					maxCentury: parseInt(max.value),
					allowStats: stats.checked,
				};

				window.localStorage.setItem(
					"settings",
					JSON.stringify(newSettings)
				);
				location.replace("/");
			});

			cancel.addEventListener("click", () => {
				location.replace("/");
			});
		</script>
	</body>
</html>
