---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Doomsday Tester - Stats</title>
	</head>
	<body class="bg-slate-950">
		<main
			class="flex flex-col justify-between items-center font-mono bg-slate-950 text-slate-300 py-4 h-[100vh] max-h-full text-center"
		>
			<h1 class="text-3xl">Statistics</h1>
			<article class="flex flex-col space-y-6">
				<section
					class="flex justify-center flex-row space-x-4 bg-slate-600 rounded-md w-72 md:w-80 p-2 md:p-4"
				>
					<p>
						Wins: <span
							class="text-green-700"
							id="wins">No Data</span
						>
					</p>
					<p>
						Losses: <span
							class="text-red-700"
							id="losses"
							>No Data</span
						>
					</p>
				</section>
				<section class="flex justify-center flex-row space-x-4 bg-slate-600 rounded-md w-72 md:w-80 p-2 md:p-4"
>
				<p>
					Win Percentage: <span id="perc"
						>No Data</span
					>
					</p>
				</section>
				<section class="flex justify-center flex-row space-x-4 bg-slate-600 rounded-md w-72 md:w-80 p-2 md:p-4"
>
				<p>
					Average time: <span id="secs"
						>No Data</span
					>
					</p>
				</section>
			</article>
			<section
				class="flex flex-col w-72 md:w-80 space-y-4"
			>
				<button
					class="p-2 cursor-pointer rounded-md bg-red-800 hover:bg-red-700"
					id="clear">Clear Stats</button
				>
				<button
					class="p-2 cursor-pointer rounded-md bg-blue-800 hover:bg-blue-700"
					id="home">Return to Tester</button
				>
			</section>
		</main>
	</body>

	<script>
		function getStats() {
			let stats = window.localStorage.getItem("stats");

			if (!stats) {
				let newStats = {
					wins: 0,
					losses: 0,
					times: [],
				};

				window.localStorage.setItem(
					"stats",
					JSON.stringify(newStats)
				);

				return newStats;
			}

			return JSON.parse(stats);
		}

		const stats = getStats();

		const wins = document.getElementById("wins");
		const losses = document.getElementById("losses");
		const percentage = document.getElementById("perc");
		const time = document.getElementById("secs");

		wins.innerText = stats.wins;
		losses.innerText = stats.losses;

		if (stats.wins + stats.losses > 0) {
			percentage.innerText = `${Math.ceil(
				(stats.wins * 100) / (stats.wins + stats.losses)
			)}%`;
		}

		if (stats.wins > 0 && stats.times.length > 0) {
			time.innerText = `${Math.floor(
				stats.times.reduce((acc, t) => acc + t, 0) /
					stats.wins /
					1000
			)}s`;
		}

		document.getElementById("clear").addEventListener(
			"click",
			() => {
				window.localStorage.removeItem("stats");
				window.location.replace("/stats");
			}
		);

		document.getElementById("home").addEventListener(
			"click",
			() => {
				window.location.replace("/");
			}
		);
	</script>
</html>
